*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.sec{
    background-color: rgb(10, 10, 10)!important;
}

.navbar-toggler{
    border: 1px solid white!important;
}

.name{
    font-size: 65px;
    width: 90%;
}
.line{
    color: aquamarine;
    border: 1px solid;
    width: 50%;
    margin-top: -10px;
    margin-left: 270px;
    display: block;
}

.img{
    width: 50%;
}

.lo{
    font-size: 1.25rem;
    width: 50%;
}

.sline{
    color: aquamarine;
    border: 1px solid;
    width: 12%;
    margin-top: -15px;
}

.abilities{
    gap: 115px;
}

.sline2 {
    color: aquamarine;
    border: 1px solid;
    width: 100%;
    margin-top: -15px;
}

.footer{
    background-color: rgb(65, 59, 59) !important;
}

.btn{
    width: 100%;
    align-items: end;
    display: flex;
}

.btn button{
    border-radius: 40px!important;
    padding: 5px;
    border: 0;
    width: 100%;
    color: white;
    background-color: aqua;
}
.text{
    width: 40%;
}

.icons{
    gap: 20px;
}

@media(max-width:500px){

    .na{
        flex-direction: column;
        row-gap: 37px;
    }

    .namep{
        text-align: center;
    }

    .name{
        font-size:25px;
        width: 100%;
    }

    .line {
        display: none;
    }

    .lo{
        width: 100%!important;
        font-size: 1rem;
    }

    .img{
        width: 100%!important;
    }

    .img img{
        width: 100%;
    }

    .abilities{
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        text-align: center;
    }

    .acce{
        margin: 0;
    }

    .boot{
        margin: 0;
    }

    .tail{
        margin: 0;
    }

    .project{
        width: 100%;
        margin-bottom: 20px;
    }

    .pro{
        flex-direction: column;
        row-gap: 60px;
    }

    .pro img{
        width: 100%;
    }

    .landing{
        flex-direction: column;
        width: 100%;
        row-gap: 45px;
    }

    .landing img{
        width: 100%;
    }

    .form{
        flex-direction: column;
        row-gap: 25px;
        width: 100%;
        padding: 0px 25px;
    }

    .contact{
        width: 100%;
    }

    .contact h1{
        width: 100%;
        text-align: center;
    }

    .contact p{
        width: 100%;
    }

    .asend{
        margin-left: 0!important;
    }

    .last-item{
        padding-bottom: 30px;
    }   
}


